@import "tailwindcss";

@layer base {
  body {
    background-color: #FDFBF7 !important; /* वापस हमारा प्रीमियम सॉफ्ट क्रीम/वाइट बैकग्राउंड */
    color: #111111;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}